In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
wait_time_df = pd.read_csv('dataset\patients_data_clean.csv')
wait_time_df

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\BAJRACHARYAA\AppData\Local\Temp\ipykernel_23052\2486075992.py:1: SyntaxWarning: invalid escape sequence '\p'
  wait_time_df = pd.read_csv('dataset\patients_data_clean.csv')

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration_minutes,Nursing_minutes,Laboratory_minutes,Consultation_minutes,Pharmacy_minutes
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112
1,2018-08-04,886361,62,Female,Urinary Tract Infection,False,20005,3430.0,46,75,84,102,36
2,2021-04-10,464823,70,Female,Upper Respiratory Tract Infection,True,10003,1836.0,107,81,5,77,36
3,2021-10-01,655214,8,Female,Upper Respiratory Tract Infection,False,10006,3250.0,66,31,101,35,92
4,2018-04-30,454666,24,Male,Malaria,True,10006,2262.0,68,55,60,90,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2018-09-30,385435,9,Male,Abdominal pain,True,10004,1458.0,80,52,11,42,58
999996,2020-05-08,117261,29,Female,Urinary Tract Infection,True,20009,1836.0,59,57,64,66,60
999997,2019-12-31,594613,39,Female,Upper Respiratory Tract Infection,False,10001,1930.0,10,14,69,14,86
999998,2019-11-04,152179,39,Female,Malaria,False,20006,3950.0,119,52,60,94,70
999999,2019-05-11,370584,76,Female,Malaria,False,20012,3500.0,34,90,29,97,100

In [4]:
wait_time_df["total_time_minutes"] = wait_time_df["Registration_minutes"] + wait_time_df["Nursing_minutes"] + wait_time_df["Laboratory_minutes"] + wait_time_df["Consultation_minutes"] + wait_time_df["Pharmacy_minutes"]
wait_time_df["total_time_minutes"]

0         379
1         343
2         306
3         325
4         377
         ...
999995    243
999996    306
999997    193
999998    395
999999    350
Name: total_time_minutes, Length: 1000000, dtype: int64

In [9]:
wait_time_df["total_time_hrs"] = round(wait_time_df["total_time_minutes"]/60)
wait_time_df["total_time_hrs"]

0         6.0
1         6.0
2         5.0
3         5.0
4         6.0
         ...
999995    4.0
999996    5.0
999997    3.0
999998    7.0
999999    6.0
Name: total_time_hrs, Length: 1000000, dtype: float64

In [12]:
average_total_time_hrs = wait_time_df["total_time_hrs"].mean()
print(average_total_time_hrs)

5.209587

In [16]:
max_time_department = wait_time_df[["Registration_minutes", "Nursing_minutes", "Laboratory_minutes", "Consultation_minutes", "Pharmacy_minutes"]].sum().idxmax()
max_time_department

'Registration_minutes'

In [19]:
print(wait_time_df["Registration_minutes"].max())

120

In [18]:
print(wait_time_df["Registration_minutes"].min())

5